@import "tailwindcss";
@theme {
  --font-jost: "Jost", sans-serif;
  --font-unna: "Unna", serif;

  --color-pink1: #ffb3b5;
  --color-pink2: #ffc3c5;
  --color-pink3: #7b3132;
  --color-pink4: #5d1e20;

  --color-green1: #9ff5e2;
  --color-green2: #b5ffef;
  --color-green3: #195648;
  --color-green4: #0e4236;

  --color-blue1: #b2c1ff;
  --color-blue2: #c2ceff;
  --color-blue3: #334179;
  --color-blue4: #172662;

  --color-b1: #1f1f1f;
  --color-w1: #f2f2f2;

  --color-t1: #141414;
  --color-t2: #3a3a3a;
}
@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;

  @variant 2xl {
    max-width: 80rem;
  }
}
